beautifulsoup4==4.12.2
celery==5.4.0
cryptography==42.0.7
dateutils==0.6.12
Flask==2.3.2
Flask-Migrate==2.6.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.5.1 
Flask-JWT-Extended==4.5.2
google-cloud-logging==3.16.3
google-cloud-storage==3.13.0
gevent==26.5.0
gunicorn==23.0.0
idna==2.7
imagehash==4.3.1
iso8601==0.1.12
jsonschema==2.6.0
kombu==5.4.2
markupsafe==2.1.1
pdftotext==2.2.2
pillow==12.3.0
protobuf==7.35.1
psycopg2-binary==2.9.12
pyOpenSSL==18.0.0
pypng==0.0.20
pyqrcode==1.2.1
python-docx==0.8.11
redis==3.5.3
requests>=2.0.0
six==1.17.0
SQLAlchemy==1.4.54
vine==5.1.0
Wand==0.5.8
Werkzeug==3.0.6

-e git+https://github.com/NewAcropolis/na-common.git@0483548b6d80583fbcd95ba8d1e67716da3fe04b#egg=na-common
