-r requirements.txt

argh==0.26.2
flake8==3.6.0
freezegun==0.3.15
mock==2.0.0
pycodestyle==2.4.0
pytest==5.2
pytest-cov==2.11.1
pytest-eradicate==0.0.3
pytest-flake8==1.0.0
pytest-flask==1.2.0
pytest-mock==1.10.0
requests-mock==1.7.0
watchdog==3.0.0
PyYAML==6.0