beautifulsoup4==4.12.2
celery==5.2.2
cryptography==41.0.3
dateutils==0.6.7
Flask==2.3.2
Flask-Migrate==2.6.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.5.1 
Flask-JWT-Extended==4.5.2
google-cloud-storage==1.44.0
gevent==22.10.2
gunicorn==20.0.2
idna==2.7
imagehash==4.0
iso8601==0.1.12
jsonschema==2.6.0
kombu==5.2.2
markupsafe==2.1.1
pdftotext==2.2.2
pillow==9.3.0
protobuf==3.19.5
psycopg2-binary==2.8.5
pyOpenSSL==18.0.0
pypng==0.0.20
pyqrcode==1.2.1
python-docx==0.8.11
redis==3.5.3
requests>=2.0.0
six==1.15.0
SQLAlchemy==1.4
vine==5.0.0
Wand==0.5.8
Werkzeug==2.3.3

-e git+https://github.com/NewAcropolis/na-common.git@4efb1dabcaa55e0c24562f7dcb56f429e90b45c1#egg=na-common
